<div class="panel"  role="main" ng-controller="GetStartedCtrl">
    <div class="container panel-text">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        
        <h1>Get to clean up your desk, retrieve documents easily and organize your life by using <b>Secretary.</b>  </h1> 
        <div class="row">
            <button class="btn btn-large secretary-button-scnd">get started >></button>
            <button class="btn btn-large secretary-button-thrd">learn more</button>
        </div>
        
    </div>
</div>

