<div class="container"> 
  <div class="row functionality-panel" id="storage-panel">
    <div class="col-xs-4">
      <span class="glyphicon glyphicon glyphicon-hdd functionality-icon"></span>
    </div>
    <div class="col-xs-8">
      <div class="functionality-caption">
        <h3>Storage</h3>
        <p>Lorsque vous insérez des fichiers et images dans les éditeurs de contenus dans le manager du site, les fichiers / images sont nécessairement stockés en ligne, pour être accessibles dans les pages de votre site. </p>
      </div>

    </div>
  </div>
  <div class="row functionality-panel" id="calendar-panel">
    <div class="col-xs-8">
      <div class="functionality-caption">
        <h3>Calendar</h3>
        <p>Un agenda est un outil permettant d'associer des actions à des moments, et d'organiser ainsi son temps. Il est utilisé afin de pouvoir donner à son utilisateur la possibilité de planifier, de noter son emploi du temps, ses rendez-vous, etc</p>
      </div>
    </div>
    <div class="col-xs-4">
      <span class="glyphicon glyphicon-calendar functionality-icon"></span>
    </div>
  </div>
  <div class="row functionality-panel" id="todolist-panel">
    <div class="col-xs-4">
      <span class="glyphicon  glyphicon-list-alt functionality-icon"></span>
    </div>
    
  </div>
</div>
