<header class="bs-docs-nav navbar navbar-static-top"> 
    <div class="container"> 
        <div class="navbar-header">

            <button type="button" class="btn secretary-button navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="#" class="navbar-brand ">Secretary</a> 
        </div> 

        <div class="collapse navbar-collapse"> 
            <ul class="nav navbar-nav navbar-right "> 
                <li><a class="navbar-element">Log in</a></li> 
                <li><button class="btn secretary-button">Sign up</button></li> 
            </ul>
        </div> 
    </div> 
</header>