/* Navigation bar*/
.navbar{
    margin-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
    margin:0px;
}

.navbar > .container{
   
}

.navbar-element, .navbar-brand{
    color: #00284d;
    font-family: 'Unkempt', cursive;
}

.navbar-button{
    background-color: #00284d;
    border-color: #00284d;
    color : #ffe699;
    margin: 7px;
    font-family: 'Unkempt', cursive;
    font-weight: bold;
}

.navbar-button:hover,  .navbar-element:hover{
    background-color: #003566;
    border-color: #003566; 
    color :#ffe699;
}

.nav > li > a:hover, .nav > li > a:focus{
    background-color: #00284d;
    border-color: #00284d;
    color : #ffe699;
    font-weight: bold;
}

.navbar-button > .icon-bar{
    background-color : #ffe699;
}




