<div class="navbar">
    <nav> 
        <div class="nav-wrapper"> 
            <a href="#/" class="brand-logo">Secretary.</a> 
            <ul class="right"> 
                <li><a class="secretary-nav-element nav-element">About</a></li> 
                <li><a class="btn nav-element secretary-button" href="#/login">Login</a></li> 
            </ul>
        </div>
    </nav>
</div>
<div class="panel"  role="main">
    <div class="container panel-text">
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <h1>Get to clean up your desk, retrieve documents easily and organize your life by using <b>Secretary.</b>  </h1> 
        <div class="row">
            <button class="btn btn-large secretary-button-scnd" ng-click="scrollTo('#getstarted-container')">get started >></button>
            <button class="btn btn-large secretary-button-thrd">learn more</button>
        </div>
        <div class="spacer"></div>

    </div>
</div>
<div class="spacer"></div>
<div id="signup-container" class="container signup">

    <div class="section">
        <p>Before you start the Secretary experience, <b>SIGN UP</b> with one of two presented solutions</p>
    </div>

    <div class="section signup-form">
        <div class="row">
            <div class="col m5 extern-account-panel">
                <p>Select an account to login and create your storage space.</p>
                <br/>

                <div class="row">
                    <button class="btn btn-large facebook-button"><i class="fa fa-facebook fa-4x left"></i>facebook</button>
                </div>
                <div class="row">
                    <button class="btn btn-large google-button"><i class="fa fa-google-plus fa-4x left"></i>google+</button>
                </div>
                <div class="row">
                    <button class="btn btn-large windows-button"><i class="fa fa-windows  fa-4x left"></i>windows</button>
                </div>

                <br/>
                <h6>Already have a Secretary account ? <a href="#/login">Sign in here</a></h6>
            </div>
            <div class="col m2">
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <p>OR</p>
            </div>
            <div class="col m5 create-account-panel">

                <p>Create an account and a new storage space.</p>
                <br/>
                <div class="row">
                    <div class="input-field col m6">
                        <input placeholder="Your first name" id="first_name" type="text" class="validate">
                        <label class="active" for="first_name">First Name</label>
                    </div>
                    <div class="input-field col m6">
                        <input placeholder="Your last name" id="last_name" type="text" class="validate">
                        <label class="active" for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m8 offset-m2">
                        <input placeholder="Your username" id="user_name" type="text" class="validate">
                        <label class="active" for="user_name">User Name</label>
                    </div> 
                </div>

                <div class="row">
                    <div class="input-field col m8 offset-m2">
                        <input placeholder="Your email" id="email" type="email" class="validate">
                        <label class="active" for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m6">
                        <input placeholder="Choose password" id="password" type="password" class="validate">
                        <label class="active" for="password">Password</label>
                    </div>

                    <div class="input-field col m6">
                        <input placeholder="Confirm password" id="confirmPassword" type="password" class="validate">
                        <label class="active" for="confirmPassword">Confirm password</label>
                    </div>
                </div>
                <button class="btn btn-large secretary-button">create account</button>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="divider"></div>
</div>
<div class="spacer"></div>
<div id="getstarted-container" class="container getstarted">
    <h2>Getting Started with Secretary</h2>

    <div class="section steps">
        <p>1. <b>Create</b> an account or <b>build</b> one using your Google or Facebook account.</p>
        <p>2. <b>Login</b> and <b>create</b> your storage space.</p>
        <p>3. <b>Start</b> uploading your files !</p>
    </div>

    <div class="section caption">
        <p><b>Store</b> your files on the cloud.</p>
        <p><b>Build</b> and <b>print</b> case files easily.</p>
        <p><b>Keep</b> fresh documents by adding an expiration date.</p>
        <p><b>Download</b> customized archives.</p>
    </div>
    <div id="test"></div>
    <button class="btn btn-large secretary-button" ng-click="scrollTo('#signup-container')">get started now >></button>
</div>
<div class="spacer"></div>
<div class="spacer"></div>
