<div class="navbar-fixed">
    <nav> 
        <div class="nav-wrapper"> 
            <a href="#/" class="brand-logo">Secretary.</a> 
            <ul class="right"> 
                <li><a href="#/home" class="secretary-nav-element nav-element"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
                <li><a class="secretary-nav-element nav-element"><i class="fa fa-question-circle fa-2x" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="panel"  role="main">
    <div class="container">
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>


        <div class="row">
            <div class="col m6 offset-m3">
                <div class="card">

                    <div class="spacer"></div>
                    <span class="card-title">Sign in</span>
                    <div class="card-content">
                        <div class="row">
                            <button class="btn btn-floating btn-large waves-effect waves-light facebook-button"><i class="fa fa-facebook left"></i></button>
                            <button class="btn btn-floating btn-large waves-effect waves-light google-button"><i class="fa fa-google-plus left"></i></button>
                            <button class="btn btn-floating btn-large waves-effect waves-light windows-button"><i class="fa fa-windows left"></i></button>
                        </div>
                        <div class="row">
                            <br/>
                            <p>OR</p>
                            <br/>
                        </div>

                        <form>
                            <div class="row">
                                <div class="input-field col m8 offset-m2">
                                    <input placeholder="Enter username" id="user_name" type="text" class="validate" required>
                                    <label class="active" for="user_name">User Name</label>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="input-field col m8 offset-m2">
                                    <input placeholder="Enter password" id="password" type="password" class="validate" required>
                                    <label class="active" for="password">Password</label>
                                </div>
                            </div>

                            <div class="card-action center">
                                <div class="row">
                                    <input type="checkbox" class="filled-in" id="filled-in-box"/>
                                    <label for="filled-in-box">Remember me</label>
                                    <button class="btn secretary-button">Login</button>
                                </div>
                                <br/>
                                <a href="#/password-reset">Forgot your password or your username ?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer"></div>

    </div>
</div>