<div class="navbar-fixed">
 <nav> 
  <div class="nav-wrapper"> 
   <a href="#/" class="brand-logo">Secretary.</a> 
   <ul class="right">
    <li><a class="secretary-nav-element nav-element">About</a></li> 
    <li><a href="#/" class="secretary-nav-element nav-element"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>

   </ul>
  </div>
 </nav>
</div>
<div class="panel"  role="main">
 <div class="container">
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>


  <div class="row">
   <div class="col m6 offset-m3">
    <div class="card">
     <div class="spacer"></div>
     <span class="card-title">Reset password</span>
     <div class="card-content">
      
      <div class="row">
       <div class="input-field col m8 offset-m2">
        <p>Enter your Secretary <b>username</b> or the <b>e-mail adress</b> you signed up with. An e-mail with a link to reset a password will be sent to you.</p>
       </div> 
      </div>
      <div class="row">
       <div class="input-field col m8 offset-m2">
        <input placeholder="Enter your email" id="email" type="email" class="validate">
       </div>
      </div>
     </div>
     <div class="card-action center">
      <div class="row">
       <button class="btn secretary-button">Send e-mail</button>
      </div>

     </div>
    </div>
   </div>
  </div>
  

 </div>
</div>