<div class="navbar">
    <nav> 
        <div class="nav-wrapper z-depth-2"> 
            <a href="#/" class="brand-logo">Secretary.</a> 
            <ul class="content-navbar">

                <div class="row">
                    <div class="col m3 offset-m2">
                        <ul class="collection">
                            <li class="collection-item" style="width:100%"><input placeholder="Search in Secretary." class="nav-element browser-default" type="text"  id="search"></li>
                        </ul>
                    </div>
                    <li><i class="fa fa-search prefix" style="color:#00284d" aria-hidden="true"></i></li>
                    <div class="right">
                        <li><a href="#/home" class="secretary-nav-element nav-element"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
                        <li><a class="secretary-nav-element nav-element"><i class="fa fa-inbox fa-2x" aria-hidden="true"></i></a></li>
                        <li><a class="secretary-nav-element nav-element"><i class="fa fa-question-circle fa-2x" aria-hidden="true"></i></a></li> 
                        <li><a class="profile nav-element" ng-click="displayUsercard=!displayUsercard"><img class="circle profile-icon" src="{{user.pic}}"></a></li>
                    </div>
                </div>
               
            </ul>
        </div>
    </nav>
</div>
<div class="secretary-popup" ng-include="'views/usercard.html'" ng-show="displayUsercard"></div>
<div class="row">
    
    
    <div class="tree-panel z-depth-4 col s2  side-nav fixed" style="padding-left: 0px;padding-right: 0px;" ng-include="'views/tree.html'">
    </div>
    
    <div class="content-panel col s10">
        <nav class="breadcrumbs-panel" ng-controller="breadcrumbCtrl">
            <div class="nav-wrapper">
                <div class="row">
                    <ul class="col m10 breadcrumbs-content">

                    </ul>
                    <ul class="right">
                        <li><a class="secretary-nav-element nav-element" ng-click="switchDisplayMode()"><i class="fa fa-th fa-2x" aria-hidden="true"></i></a></li> 
                        <li><a class="secretary-nav-element nav-element"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a></li> 
                    </ul>
                    
                </div>
                
            </div>
        </nav> 
        
    </div>
    
   
 
    
</div>


