<div class="navbar-fixed">
    <nav> 
        <div class="nav-wrapper"> 
            <a href="#/" class="brand-logo">Secretary.</a> 
            <ul class="content-navbar">
                
                <div class="row">
                    <div class="col m3 offset-m2">
                        <ul class="collection">
                            <li class="collection-item" style="width:100%"><input placeholder="Search in Secretary." class="nav-element browser-default" type="text"  id="search"></li>
                        </ul>
                    </div>
                    <li><i class="fa fa-search prefix" style="color:#00284d" aria-hidden="true"></i></li>
                    <div class="right">
                        <li><a class="secretary-nav-element nav-element">About</a></li> 
                        <li><a href="#/" class="secretary-nav-element nav-element"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
                        <li><a class="profile nav-element"><img class="circle profile-pic" src="./images/profile.png"></a></li>
                    </div>
                </div>
            </ul>
        </div>
    </nav>
</div>
<div layout="row">
    <div class="col s12 m4 l3">
        
    </div>

    <div class="col s12 m8 l9"> 
        
    </div>  
</div>

