<div class="usercard z-depth-5">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <img class="circle profile-pic" src="{{user.pic}}">
            </div>
            <div class="row">
                <b>{{user.name}}</b>
                <p>{{user.email}}</p>
                <br/>
                <button class="btn secretary-button">edit account</button>
            </div>
        </div>
        <div class="card-action">
            <button class="btn secretary-button-thrd">log out</button>
        </div>
    </div>
</div>