<section id="getstarted-container">
    <div  class="container getstarted">
        <h2>Getting Started with Secretary</h2>

        <div class="section steps">
            <p>1. <b>Create</b> an account or <b>build</b> one using your Google or Facebook account.</p>
            <p>2. <b>Login</b> and <b>create</b> your storage space.</p>
            <p>3. <b>Start</b> uploading your files !</p>
        </div>

        <div class="section caption">
            <p><b>Store</b> your files on the cloud.</p>
            <p><b>Build</b> and <b>print</b> case files easily.</p>
            <p><b>Keep</b> fresh documents by adding an expiration date.</p>
            <p><b>Download</b> customized archives.</p>
        </div>

        <button class="btn btn-large secretary-button">get started now >></button>
    </div>

</section>