<div class="container signup">
    <div class="section">
        <p>Before you start the Secretary experience, <b>SIGN UP</b> with one of two presented solutions</p>
    </div>
    <div class="row">
        <div class="col m5 extern-account-panel">
            <p>Select an account to login and create your storage space.</p>
            <br/>
            
            <div class="row">
                <button class="btn btn-large facebook-button"><i class="fa fa-facebook fa-4x left"></i>facebook</button>
            </div>
            <div class="row">
                <button class="btn btn-large google-button"><i class="fa fa-google-plus fa-4x left"></i>google+</button>
            </div>
            <div class="row">
                <button class="btn btn-large windows-button"><i class="fa fa-windows  fa-4x left"></i>windows</button>
            </div>
            
            <br/>
            <h6>Already have a Secretary account ? <a href="#">Sign in here</a></h6>
        </div>
        <div class="col m2">
            
        </div>
        <div class="col m5 create-account-panel">
            <p>Create an account and a new storage space.</p>
            <br/>
            <div class="row">
                <div class="input-field col m6">
                    <input placeholder="Your first name" id="first_name" type="text" class="validate">
                    <label class="active" for="first_name">First Name</label>
                </div>
                <div class="input-field col m6">
                    <input placeholder="Your last name" id="last_name" type="text" class="validate">
                    <label class="active" for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Your email" id="email" type="email" class="validate">
                    <label class="active" for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col m6">
                    <input placeholder="Password" id="password" type="password" class="validate">
                    <label class="active" for="password">Password</label>
                </div>
                    
                <div class="input-field col m6">
                    <input placeholder="Confirm password" id="confirmPassword" type="password" class="validate">
                    <label class="active" for="confirmPassword">Password</label>
                </div>
            </div>
            <button class="btn btn-large secretary-button">create account</button>
        </div>
    </div>
</div>